<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aspire Systems </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vehcile_Project.styles.css" asp-append-version="true" />
    <style>
        .move {
            margin-left: 65em;
        }
    </style>
</head>
<body>
    <header>
        <div class="d-flex flex-column">
            <nav
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Aspire Systems</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @{
                                if (ViewBag.userSession != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Home
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CompanyPolicy">
                                            Privacy </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="https://www.aspiresys.com/company-overview"> About
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="https://www.aspiresys.com/contact-us"> Contact
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item move">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Log">
                                            <span class="fa fa-home"></span>
                                        </a>

                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                    asp-action="SignAdmin"><i class="fa fa-user-secret"></i>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container body">
        <main role="main" class="pb-3">


            <style>
                @*body{background-image:url('https://th.bing.com/th?id=OIP.2cjT5YrhM92okYZRN3qN3wHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2');background-repeat:no-repeat;width:inherit;height:inherit;*@@*body{background:linear-gradient(black,white);}*@
                }
            </style>
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
