@model VEHCILE.Models.Car;
@{
    ViewData["Title"] = "Edit";
}

<div class="text-white" align="center" style="background-color: rgba(40, 39, 39, 0.8);">
    <h1>Edit Car Details</h1>
    <hr />
    <form method="post">
        <div class="form-group">
            <label class="form-label">CarNumber:</label>
            <input size="20" asp-for="CarNumber" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">PickUp:</label>
            <input size="20" asp-for="PickUp" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label">Seating Capacity:</label>
            <input size="20" asp-for="SeatingCapacity" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label">DropOff:</label>
            <input size="20" asp-for="DropOff" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4 align-center">Update</button>
    </form>
</div>
