@* @model IEnumerable<Bus> *@
@{
        ViewData["Title"]="Bike";
        @* Layout = "_Common"; *@
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="main-container"> 
        @* <div class="top">
            <h3>Buses Available</h3>
            <a asp-controller="Home" asp-action="Buyproduct"><button type="button"> Add Bus</button> </a>
            <a asp-controller="Home" asp-action="Sellerdetails"><button type="button"> Buses Details</button> </a>
        </div> *@
 @* <h3>Buses Available</h3> *@
        <div class="middle">
               <h3>Available Bikes </h3>
            <br>
        </div>
<div class="store-table">
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">BikeId</th>
      <th scope="col">BikeNumber</th>
      <th scope="col">Book</th>
    </tr>
  </thead>
  @* <tbody>
    @foreach(var obj in Model)
    {
    <tr>
      <th scope="row">@obj.BusId</th>
      <td>@obj.BusNumber</td>
      <td></td>
      <td><button class="update-button" asp-action="BusSeat">Change</button></td>
    </tr>
    }
  </tbody> *@
</table>
</div>