@* <head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>
<body>
<div class="container">
<div class="card">
<h3 class="title">Card 1</h3>
<div class="bar">
<div class="emptybar"></div>
<div class="filledbar"></div>
</div>
<div class="circle">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
<circle class="stroke" cx="60" cy="60" r="50"/>
</svg>
</div>
</div>
<div class="card">
<h3 class="title">Card 2</h3>
<div class="bar">
<div class="emptybar"></div>
<div class="filledbar"></div>
</div>
<div class="circle">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
<circle class="stroke" cx="60" cy="60" r="50"/>
</svg>
</div>
</div>
<div class="card">
<h3 class="title">Card 3</h3>
<div class="bar">
<div class="emptybar"></div>
<div class="filledbar"></div>
</div>
<div class="circle">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
<circle class="stroke" cx="60" cy="60" r="50"/>
</svg>
</div>
</div>
<div class="card">
<h3 class="title">Card 4</h3>
<div class="bar">
<div class="emptybar"></div>
<div class="filledbar"></div>
</div>
<div class="circle">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
<circle class="stroke" cx="60" cy="60" r="50"/>
</svg>
</div>
</div>
</div>
</body>
<style>
body {
background-color: #100e17;
font-family: 'Open Sans', sans-serif;
}

.container {
position: absolute;
height: 300px;
width: 600px;
top: 60px;
left: calc(50% - 300px);
display: flex;
}

.card {
display: flex;
height:500px ;
width: 500px;
background-color: #17141d;
border-radius: 10px;
box-shadow: -1rem 0 3rem #000;
/* margin-left: -50px; */
transition: 0.4s ease-out;
position: relative;
left: 0px;
}

.card:not(:first-child) {
margin-left: -50px;
}

.card:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.card:hover ~ .card {
position: relative;
left: 300px;
transition: 0.4s ease-out;
}

.title {
color: white;
font-weight: 300;
position: absolute;
left: 60px;
top: 15px;
}

.bar {
position: absolute;
top: 100px;
left: 20px;
height: 5px;
width: 150px;
}

.emptybar {
background-color: #2e3033;
width: 100%;
height: 100%;
}

.filledbar {
position: absolute;
top: 0px;
z-index: 3;
width: 0px;
height: 100%;
background: rgb(0,154,217);
background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
transition: 0.6s ease-out;
}

.card:hover .filledbar {
width: 120px;
transition: 0.4s ease-out;
}

.circle {
position: absolute;
top: 150px;
left: calc(50% - 60px);
}

.stroke {
stroke: white;
stroke-dasharray: 360;
stroke-dashoffset: 360;
transition: 0.6s ease-out;
}

svg {
fill: #17141d;
stroke-width: 2px;
}

.card:hover .stroke {
stroke-dashoffset: 100;
transition: 0.6s ease-out;
}
</style> *@

<form>

  <input type="radio" name="fancy" autofocus value="TwoVehcile" id="TwoVehcile" />
  <input type="radio" name="fancy" value="Splendor" id="Splendor" />
  <a asp-area="" asp-controller="Home" asp-action="BikeInside"></a>
  <input type="radio" name="fancy" value="Activa" id="Activa" />
  <a asp-area="" asp-controller="Home" asp-action="BikeInside"></a>
  <input type="radio" name="fancy" value="Pulzar" id="Pulzar" asp-area="" asp-controller="Home" asp-action="Bus1" />

  <label for="Splendor">&#127949; <a href="Bikeinside">Splendor</a></label><label for="Activa">&#128690;<a
      href="BikeInside">Activa</a> </label><label for="Pulzar">&#127949;<a href="BikeInside">Pulzar</a></label>
  <div class="keys">Use left and right keys to navigate</div>
</form>

@* <div class="col-sm-12">
<div id="my-slider" class="carousel slide" data-ride="carousel">
<!-- indicators dot nov -->
<ol class="carousel-indicators">
<li data-target="#my-slider" data-slide-to="0" class="active"></li>
<li data-target="#my-slider" data-slide-to="1"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
<div class="item active">
<a asp-action="BikeInside"></a>
<div class="carousel-caption">
<a href="http://www.google.com"><h1 href="/Internet">Bike</h1></a>
</div>
</div>
<div class="item">
<div class="carousel-caption">
<h1>Pulzar</h1>
</div>
</div>
</div>
<!-- Controls or next and prev buttons -->
<a class="left carousel-control" href="#my-slider" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#my-slider" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>

</div>
</div> *@



<style>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    overflow: hidden;
  }



  label {
    background: #444;
    color: #fff;
    transition: transform 400ms ease-out;
    display: inline-block;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 100vh;
  }

  form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    white-space: nowrap;
  }

  input {
    position: absolute;
  }

  .keys {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    text-align: center;
    transition: all 300ms linear;
    opacity: 0;
  }

  input:focus~.keys {
    opacity: 0.8;
  }

  input:nth-of-type(1):checked~label:nth-of-type(1),
  input:nth-of-type(2):checked~label:nth-of-type(2),
  input:nth-of-type(3):checked~label:nth-of-type(3),
  input:nth-of-type(4):checked~label:nth-of-type(4) {
    z-index: 0;
  }

  input:nth-of-type(1):checked~label {
    transform: translate3d(0, 0, 0);
  }

  input:nth-of-type(2):checked~label {
    transform: translate3d(-100%, 0, 0);
  }

  input:nth-of-type(3):checked~label {
    transform: translate3d(-200%, 0, 0);
  }

  input:nth-of-type(4):checked~label {
    transform: translate3d(-300%, 0, 0);
  }

  label {
    background: #444;
    background-size: cover;
    font-size: 3rem;
  }

  label[for="diamonds"],
  label[for="hearts"] {
    background: #cc0000;
  }

  label:before,
  label:after {
    color: white;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    padding: 1rem;
    font-size: 3rem;
    height: 10rem;
    vertical-align: middle;
    line-height: 10rem;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
  }

  label:before {
    content: "\276D";
    right: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  label:after {
    content: "\276C";
    left: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
</style>