@{
  ViewBag.Title = "Rentals";
}

<body background="https://jooinn.com/images/road-75.jpg">
  <form width="1000" height="1300" style="margin-left: 35%;">
    <div class="form-outline mb-4" style="color: White;"><b>City</b></label>
      <span style="margin-left:4rem" class="custom-select" style="width:200px;">
        @* <input type="text" placeholder="Start" name="Start" required>
        *@
        <select>
          <option value="0">Select City:</option>
          <option value="1">Kk.Nagar</option>
          <option value="2">Perungudi</option>
          <option value="3">Guindy</option>
          <option value="4">Navallur</option>
          <option value="5">Shozingallur</option>
          <option value="6">OMR</option>
          <option value="7">Siruseri </option>
        </select>
      </span>`
      @* <input style="margin-left: 4rem;" type="text" placeholder="City" name="Start" required> *@

    </div>
    <div class="form-outline mb-4" style="color: White;"><b>Book at</b></label>
      <input style="margin-left: 2.1rem;" type="text" placeholder="Book" name="Book" required>
    </div>
    <div class="form-outline mb-4" style="color:White;"><b>Pick Date</b>
      <input style="margin-left:1.4rem " type="date" id="DOJ" name="DOJ" min="2023-01-01" max="2023-12-31">
    </div>
    <div class="form-outline mb-4" style="color:White;"><b>Start Time</b>
      <input style="margin-left:1rem" type="time" id="appt" name="appt">
    </div>
    <div class="form-outline mb-4" style="color:White;"><b>End Date</b>
      <input style="margin-left:1.5rem " type="date" id="DOJ" name="DOJ" min="2023-01-01" max="2023-12-31">
    </div>
    <div class="form-outline mb-4" style="color:White;"><b>Drop Time</b>
      <input style="margin-left:0.9rem" type="time" id="appt" name="appt">
    </div>
    <p>
      <button type="Submit" asp-action="BikeInside2">Book</button>
    </p>
  </form>
</body>
