@{
  ViewData["Title"] = "Booked";

}
<h1>@ViewData["Title"]</h1>

<p style="color: black;">Your Seat has been Successfully booked</p>

<p style="color:black;"> You will receive a Mail or SMS shortly. Thank you for using Aspire Booking App.</p>