@model VEHCILE.Models.Car;

<style>
  .container {
    align-items: right;
    padding-right: 20px;
    align-content: flex-end;
  }

  #map_canvas {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 80px;
    margin-left: 700px;


  }
</style>
@{
  ViewBag.Title = "Routes";
}

<body background="https://jooinn.com/images/road-75.jpg">

  <form method="post" style="margin-left: 8%" width="1000" height="1300" style="padding-left:85px;padding-top:50px;">
    <div class="container">
    <div class="form-outline mb-4" style="color: White;"><b>Start at </b></label>
    <br>
      <select name="Pickup" asp-for="PickUp" style="font-size: 1rem;">
        @{
          foreach (var car in ViewBag.carList)
          {
            <option value=@car.PickUp name="PickUp">@car.PickUp</option>
          }
        }
      </select>
    </div>
    <div class="form-outline mb-4" style="color: White;" style="margin-left:4rem">DropOff</b></label>
    <br>
      <select name="DropOff" asp-for="DropOff" style="font-size: 1rem;">
        @{
          foreach (var car in ViewBag.carList)
          {
            <option value=@car.DropOff name="DropOff">@car.DropOff</option>
          }
        }
      </select>
    </div>
    <div class="form-outline mb-4" style="color:White;"><b>Date</b>
    <br>
      <input style="margin-left:0rem " type="date" id="DOJ" name="DOJ" min="2023-01-01" max="2023-12-31">
    </div>


    <button type="Submit" value=" Send" class="btn btn-success" id="submit" asp-action="Bus1"><i
        class="glyphicon glyphicon-inbox"></i> Book</button>
        </div>
  </form>
 
  </div> 

  <!DOCTYPE html>
  <html style="displayflex">

  <head>
    <div class="container" id="map_canvas"></div>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Multiple Markers Google Maps</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false" type="text/javascript"></script>
   <script type="text/javascript">
      // check DOM Ready
      $(document).ready(function () {
        // execute
        (function () {
          // map options
          var options = {
            zoom: 12,
            center: new google.maps.LatLng(12.830554972282913, 80.22355366871653), // centered US
            mapTypeId: google.maps.MapTypeId.TRANSIT,
            mapTypeControl: false,
          };

          // init map
          var map = new google.maps.Map(
            document.getElementById('map_canvas'),
            options
          );

          // NY and CA sample Lat / Lng
          var southWest = new google.maps.LatLng(13.007228982418773, 80.22014435111356);
          var northEast = new google.maps.LatLng(12.847777587252377, 80.22659348862084);
          var lngSpan = northEast.lng() - southWest.lng();
          var latSpan = northEast.lat() - southWest.lat();

          // set multiple marker
          for (var i = 0; i <6; i++) {
            // init markers
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(
                southWest.lat() + latSpan * Math.random(),
                southWest.lng() + lngSpan * Math.random()
              ),
              map: map,
              title: 'Click Me ' + i,
            });

            // process multiple info windows
            (function (marker, i) {
              // add click event
              google.maps.event.addListener(marker, 'click', function () {
                infowindow = new google.maps.InfoWindow({
                  content: 'Places!!',
                });
                infowindow.open(map, marker);
              });
            })(marker, i);
          }
        })();
      });
    </script>
  </head>

  </html>

</body>