@{
    ViewBag.Title = "Policies";
}

<h2 style="margin-left: 45%; color:white;">@ViewBag.Title</h2>

<br>

<body style="background-color:grey;"></body>
<div class="policy-container">
    <p class="policy-content">
        Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound
        by the following terms and conditions of use, which together with our privacy policy govern Aspire System's relationship
        with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use
        our website.
    </p>

    <ul class="policy-list">
        <li>The content of the pages of this website is for your general information and use only.</li>
        <li>It is subject to change without notice.</li>
        <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance,
            completeness, or suitability of the information and materials found or offered on this website for any particular
            purpose.</li>
        <li>You acknowledge that such information and materials may contain inaccuracies or errors, and we expressly exclude
            liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
        <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be
            liable. It shall be your own responsibility to ensure that any products, services, or information available through
            this website meet your specific requirements.</li>
        <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to,
            the design, layout, look, appearance, and graphics. Reproduction is prohibited other than in accordance with the
            copyright notice, which forms part of these terms and conditions.</li>
        <li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are
            acknowledged on the website.</li>
        <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
        <li>From time to time this website may also include links to other websites. These links are provided for your
            convenience to provide further information. They do not signify that we endorse the website(s). We have no
            responsibility for the content of the linked website(s).</li>
        <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of India.</li>
    </ul>
</div>

<div class="time-container">
    <h1>@TempData["Time"]</h1>
</div>
<style>
    .time-container {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: grey;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
</style>