@{
    ViewBag.Title = "Contact Us at";
}
<h2 style="color: white;">@ViewBag.Title</h2>
<body background='https://thumbs.dreamstime.com/b/contact-us-technical-support-center-customer-service-internet-business-technology-concept-hotline-businessman-hand-holding-icon-226509440.jpg'>
<br>
<br>
<address style="color:orange">
  
Aspire System<br />
SIPCOT IT Park,Siruseri,Tamil Nadu,India<br />
<abbr title="Phone" style="color:orange">Phone:</abbr>
1-408-904-4591
</address>
<p style="color: orange;">Email us at: lalitkumar.ndit@gmail.com</p>
</body>