<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
  #sidebar {
    float: left;
    margin-right: 25px;
    position: flex;
    margin-bottom: 20px
  }

  #body {
    overflow: auto;
  }

  .s-sidebar__nav {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: black;
    color: blue;
  }

  .myside {
    margin-top: 20px;
    padding-top: 0%;
    margin-right: 150px;
    float: right;
  }

  .sidenav-content {
    margin-top: 20px;
  @*margin-bottom:-85%;*@@*padding-top:0%;*@width: 200px;
    z-index: 1;
    background-color: #777;
    color: white;
    overflow-x: hidden;
    padding-top: 20px;
    display: none;
  }

  /* Style the sidenav links and the dropdown button */
  .sidenav a,
  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  /* On mouse-over */


  .dropdown-container:hover .sidenav-content {
    display: block;
  }

  /* Main content */
  .main {
  @*margin-top:0%;padding-top:0%;*@margin-top: 20px;
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: blue;
  }

  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    background-color: white;
    padding-left: 2px;

  }

  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: left;
    padding-right: 8px;
    margin-left: 1px;
  }
</style>

<body
  background="https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/msqd2XJ/videoblocks-hacker-in-black-mask-using-computer-and-breaking-servers-of-data-center-stealing-information_rynis-jnx_thumbnail-1080_01.png"
  style="background-color:blue;">
  <!-- Sidebar -->
  <div class="myside" style="margin-top: 0%; padding:0%">
    <div class="w3-sidebar w3-light-grey w3-bar-block" id="sidebar" style="width:25%">
      <h3 class="w3-bar-item">Controls</h3>
      <a href="/Home/Register" class="w3-bar-item w3-button">Employees</a>
      <a href="/Home/Create" class="w3-bar-item w3-button">New Admin</a>
      <a href="/Home/Contact" class="w3-bar-item w3-button">Contact</a>
      <a href="/Home/CustomerRequest" class="w3-bar-item w3-button"></i>Requests</a>
      <a href="/Driver/Index" class="w3-bar-item w3-button"></i>Drivers</a>
      <a href="/Bus/Index" class="w3-bar-item w3-button"></i>Buses</a>
      <a href="/Car/Index" class="w3-bar-item w3-button"></i>Car</a>
      <a href="/Home/CompanyPolicy" class="w3-bar-item w3-button">Policies</a>
      <a href="/Home/Log" class="w3-bar-item w3-button">Log out</a>

    </div>
  </div>
  <!-- Page Content -->
  <div style="margin-left:0%">
  </div>
</body>
</html>
