@model VEHCILE.Models.Feedback;

@{
    ViewBag.Title = "Home Page";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: #1d0e0e;
  background-image: ;
}

.content {
  max-width: 500px;
  margin: auto;
  background:  #d199fff1;
  padding: 10px;
  box-shadow:  0 0 5px 5px #888888;
}
</style>
</head>
<body>
<div class="content" >

<form  style="margin: auto; width: 150px" method="post">
    <p>
        <label asp-for="emailid">Enter your email</label>
        <input  asp-for="emailid" />
    </p>
    <p>
        <label asp-for="rating">Rating:</label>
        <select asp-for="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            
        </select>
    </p>
    <p>
        <label asp-for="feedback" >Feedback</label>
        <input asp-for="feedback" />
         
    </p>
    <p><button type="submit">Submit</button></p>
</form>
</div>
</body>
</html>