@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Employeelayout.cshtml";
}

<body background="https://th.bing.com/th/id/R.d4677503782df53084ab8e755b74b053?rik=SN7tP%2fZXjLQDJw&riu=http%3a%2f%2fmedia1.popsugar-assets.com%2ffiles%2f2021%2f01%2f14%2f843%2fn%2f1922507%2fdd265517553cf2bb_huper-by-joshua-earle-a3xymeWNDso-unsplash%2fi%2fOcean-Sunset-Zoom-Background.jpg&ehk=ecLptbDJQLMJtEa31yK6qI9qdeX6JkpJSFzAWbrqNGU%3d&risl=&pid=ImgRaw&r=0">
<div class="text-center">
    <h1 class="display-4" style="color: white">Welcome To Transport Department</h1>
</div>
<br> 
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width:500px">
                <a asp-area="" asp-controller="Home" asp-action="Bus1"><img class="alignnone size-full wp-image-1303" src="https://lp-cms-production.imgix.net/2020-07/Hemphill%20celebrity%20bus.jpg?auto=compress&fit=crop&fm=auto&sharp=10&vib=20&w=1200" alt="card-image-4" width="100%"  /></a>
                <div class="card-body">
                    <h2 class="card-title">Bus</h2>
                    <p class="card-text">Book your Bus here.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
        <div class="card" style="width:500px"> 
            <a  asp-area="" asp-controller="Home" asp-action="Cab1"><img class="alignnone size-full wp-image-1303" src="https://th.bing.com/th/id/OIP.oM_EI9kwz4cprhzSIAihcwHaE8?pid=ImgDet&rs=1" alt="card-image-4" width="100%"  /></a>
                <div class="card-body">
                    <h2 class="card-title">Cab</h2>
                    <p class="card-text">Book your Cab here.</p>
                </div>
            </div>
    </div>
    </div>
</div>
@* </body> *@
<hr>
@* </hr> *@
    <footer>
      <div class="footer-container">
        <div class="left-col">
          <p class="rights-text" style="color: white">&copy;@DateTime.Now.Year   All Rights Reserved.</p>
        </div>
        <div class="right-col">
          <h1 style="color: white;">Our Newsletter</h1>
          <div class="border"></div>
          <p style="color: yellow">Enter Your Email to get our news and updates.</p>
          <form id="newsletter-form">
                    <input type="text" class="txtb" placeholder="Enter Your Email" id="emailInput">
                    <button type="button" class="btn btn-success" id="submit"><i class="glyphicon glyphicon-inbox"></i> Submit</button>
                </form>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
            $("#submit").click(function () {
                var email = $("#emailInput").val();
                if (email !== "") {
                    $.ajax({
                        type: "POST",
                        url: "/Home/SubscribeToNewsletter",
                        data: { email: email },
                        success: function (response) {
                            alert("Thank you for subscribing to our newsletter.");
                            $("#emailInput").val(""); // Clear the input field after successful submission
                        },
                        error: function () {
                            alert("Failed to subscribe to the newsletter. Please try again later.");
                        }
                    });
                } else {
                    alert("Please enter a valid email address.");
                }
            });
        });
  </script>
</body>
