@{
  ViewData["Title"] = "View";

}
<h1>@TempData["Time"]</h1>

<p style="color: black; margin-left:10rem;">Your Request has been sent to the management.Kindly wait for further Instruction.s</p>
<a class="nav-link-nav-dark" href="../Home/Details" class="btn btn-primary dropdown-toggle" style="color: black
  ;"> Go Back </a>
