@{
  ViewData["Title"] = "Terms & Privacy";

}
<h1>@TempData["Time"]</h1>

<p style="color: black; margin-left:10rem;">When you use our services, you’re trusting us with your information. We understand this is a
  big responsibility and work hard to protect your information and put you in control.

  This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can
  update, manage, export, and delete your information.</p>
<a class="nav-link-nav-dark" href="../Home/Index" class="btn btn-primary dropdown-toggle" style="color: black
  ;"> Go Back </a>
