@model VEHCILE.Models.Employees;
using

<body background="https://i0.wp.com/www.techawkng.com/wp-content/uploads/2020/07/Ridesharing.jpg?w=1920&ssl=1"
    style="background-repeat:no-repeat; background-size: cover">
</body>

<h1 style="color:white; text-align:center;padding-top:200px;font-family:Georgia, serif">VEHICLE TRANSPORT MANAGEMENT
    SYSTEM</h1>
<p style="color:white; text-align:center;padding-top:50px;font-family:Georgia, serif;font-size:30px">Welcome</p>
<div class="wrap" style="text-align:center;padding-top:50px">
    <a asp-area="" asp-controller="Home" style="color:#000;text-decoration: none;" asp-action="Log"><button
            class="button">Jump In as Employee</button></a>
    <a asp-area="" asp-controller="Home" style="color:#000;text-decoration: none;" asp-action="SignAdmin"><button
            class="button">Jump In as Boss</button></a>
</div>

<style>
    .button {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    .button:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #000;
        transform: translateY(-7px);
    }
</style>