/* _content/Vehcile Project/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vk8xhrvrmk] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


a[b-vk8xhrvrmk] {
  color: #0077cc;
  background-image: url();
}

.btn-primary[b-vk8xhrvrmk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vk8xhrvrmk],
.nav-pills .show>.nav-link[b-vk8xhrvrmk] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vk8xhrvrmk] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-vk8xhrvrmk] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vk8xhrvrmk] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vk8xhrvrmk] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vk8xhrvrmk] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}



/**/
/* body{
  margin: 0;
  padding: 0;
  background-image: url('https://wallpaperaccess.com/full/2314950.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family : Verdana,Tahoma, sans-serif;
}

.box{
  width: 380px;
  height: 500px;
  background-color:rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
}

.box img{
width:100px;
  margin-top:-50px ;
}

.header {
width: 300px;
  height: 50px;
  text-transform: uppercase;
display: inline-flex;
  padding-top: 20px;
  padding-bottom: 0;
justify-content: space-between;
}

.header a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
display: inline-flex;
  padding-left: 25px;
  padding-right: 25px;
justify-content: center;
  cursor:pointer;
}

.header .active {
  color: #df80ff;
font-weight: bold;
position: relative;
}

.header .active:after {
position: absolute;
  border: none;
content: "";
}

#errorMsg{
  color:red;
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;

}

.content{
  display: inline-flex;
  overflow: hidden;
}

form {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
flex-shrink: 0;
flex-direction: column;
transition: right 0.5s;
}

.login a{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  cursor: pointer;

}

.extend form {
right: 100%;
}

input[type=text], input[type=password], input[type=email]{
display:block;
  position: relative;
border: 4px solid #ffffff;
padding: 12px;
  margin-bottom: 15px;
  width: 100%;
 box-sizing: border-box;
  font-size: 17px;
  outline: none;
}

input[type=text]:hover,  input[type=password]:hover, input[type=email]:hover{
  border: 4px solid #df80ff;

}

input[type=submit]{
  display:block;
  position: relative;
  border: 3px solid #df80ff;
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 25px;
  background-color:#600080 ;
  text-align:center;
  font-size: 20px;
  color: #ffffff;
cursor:pointer;
  outline: none;
}

input[type=submit]:hover{
 background-color:#ffffff;
   color: #000000;
   font-weight: bold;
}
input[type=checkbox]{
  background-color:#df80ff;
}
#check{
  margin-top: 10px;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
}
 */
